WebApiExample/.vs/*
WebApiExample/packages/*
WebApiExample/WebApiExample/bin/*
MathNetExamples/net46/.vs/*
MathNetExamples/net46/HelloWorld/obj/*
MathNetExamples/net46/packages/*
MathNetExamples/net46/HelloWorld/bin/*
DataStructures/LinkedList/bin/*
DataStructures/LinkedList/obj/*
DataStructures/LinkedList/.vscode/*
Algorithms/Fibonacci/bin/*
Algorithms/Fibonacci/obj/*
